@{
    ViewData["Title"] = ViewBag.Titulo;
}

<h1>@ViewBag.Titulo1</h1>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Legajo</th>
        <th>Curso</th>
    </tr>
    @foreach (var alumno in ViewBag.Alumnos)
    {
        <tr>
            <td>@alumno.Nombre</td>
            <td>@alumno.Apellido</td>
            <td>@alumno.Legajo</td>
            <td>@alumno.Curso</td>
            
        </tr>
    }
</table>

<h5>@ViewBag.Titulo2</h5>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>

    @foreach (var alumno in ViewBag.Desaprobados)
    {
        <tr>
            <td>@alumno.Nombre</td>
            <td>@alumno.Apellido</td>
        </tr>
    }
</table>

<h5>@ViewBag.Titulo3</h5>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>

    @foreach (var alumno in ViewBag.Aprobados)
    {
        <tr>
            <td>@alumno.Nombre</td>
            <td>@alumno.Apellido</td>
        </tr>
    }
</table>
